@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none
}

body {
    font-family: Barlow, sans-serif;
    font-weight: 300;
    color: #26014d;
}

/* header and logo */

header {
    font-family: Barlow, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

#logo {
    font-family: Bebas Neue, sans-serif;
    letter-spacing: 2px;
    float: left;
    font-size: 300%;
    margin-left: 25px;
}

/* navigation links */

#links {
    font-size: 110%;
}

#links, #logo {
    line-height: 75px;
}

#links li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    text-decoration: none;
}

#links a {
    text-decoration: none;
}

#links a:hover {
    color: #95B0B6;
    font-size: 115%;
}