@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none
}

body {
    font-family: Barlow, sans-serif;
    font-weight: 300;
    color: #26014d;
}

/* header and logo */

header {
    font-family: Barlow, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    height: 75px;
}

header i {
    color: #0E7584;
}

#header-logo {
    font-family: Bebas Neue, sans-serif;
    color: #26014d;
    letter-spacing: 2px;
    float: left;
    font-size: 300%;
    margin-top: 10px;
    margin-left: 25px;
}

/* navigation links */

#links {
    font-size: 110%;
    font-size: 110%;
    float: right;
}

#links,
#logo {
    line-height: 75px;
}

#links li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    text-decoration: none;
}

#links a {
    text-decoration: none;
    color: #26014d
}

#links a:hover {
    color: #95B0B6;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/buddha.webp') no-repeat center center;
}

/* tag-line */

#tag-line>h2 {
    color: #fff;
    font-family: Bebas Neue, sans-serif;
    font-size: 200%;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    width: 33%;
    padding-top: 20px;
    text-align: center;
}

#tag-line {
    background-color: #0d616e;
    background-position: center;
    margin-left: 5%;
    width: 90%;
    height: 75px;
    overflow: hidden;
    margin-top: -30px;
}

/* section headings */

.section-heading {
    clear: both;
    font-family: Bebas Neue, sans-serif;
    font-size: 250%;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* studio section */

.studio-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-height: 300px;
}

.studio-pic-container {
    display: flex;
    width: 32%;
    margin-left: 5%;
}

.picture-content {
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.studio-text-right {
    display: flex;
    width: 28%;
    position: relative;
    right: 5%;
    font-size: 120%;
}

.studio-pic-center {
    display: flex;
    width: 30%;
    margin: -275px auto 0;
    height: 500px;
    object-fit: cover;
    object-position: top;
    position: relative;
    z-index: 1;
}

.studio-text-left {
    display: flex;
    width: 28%;
    position: relative;
    left: 5%;
    margin-top: -200px;
    font-size: 120%;
    text-align: right;
}

.right-picture {
    margin-right: 5%;
    margin-top: -300px;
}

/* classes section */

#classes-section>div {
    display: inline-block;
    text-align: center;
    color: #fff;
    margin: 0% 2%;
}

.yoga-class>h3 {
    text-transform: uppercase;
    font-size: 125%;
    padding-bottom: 15px;
}

.yoga-class {
    width: 29%;
    padding: 2%;
    box-sizing: border-box;
    background-color: #615374;
    border-radius: 20px;
}

/* timetable section */

#timetable-section>div {
    display: inline-block;
    text-align: center;
    color: #fff;
    margin: 0% 2% 1% 2%;
}

.timetable>h3 {
    text-transform: uppercase;
    font-size: 125%;
    padding-bottom: 15px;
}

.timetable>p {
    font-size: 100%;
    padding-bottom: 5px;
}

.timetable {
    width: 29%;
    padding: 2%;
    box-sizing: border-box;
    background-color: #0d616e;
    border-radius: 20px;
}

/* sign up section */

#signup-section>h3 {
    font-size: 130%;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

.signup-form {
    margin: auto;
    max-width: 350px;
    text-align: left;
}

.signup-input {
    box-sizing: border-box;
    border: #26014d 1px solid;
    line-height: 25px;
    padding: 3px;
    width: 100%;
    margin-bottom: 7px;
}

.signup-button {
    float: right;
    margin-bottom: 50px;
    width: 150px;
    height: 40px;
    background-color: #26014d;
    border-radius: 5px;
    font-family: Bebas Neue, sans-serif;
    font-size: 130%;
    color: #fff
}

.signup-input:hover {
    border-color: #95B0B6;
}

.signup-button:hover {
    background-color: #0d616e;
}

/* contact us section */

#contact-left,
#contact-right {
    width: 25%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 175%;
}

#contact-left {
    float: left;
    padding-left: 22%;
    padding-right: 3%
}

#contact-right {
    float: right;
    padding-right: 22%;
    padding-left: 3%
}

#contact-left>h3 {
    text-transform: uppercase;
}

#contact-right>h3 {
    text-transform: uppercase;
}

/* footer */

footer {
    clear: both;
    height: 75px;
}

.social-links {
    text-align: center;
    width: 100%;
    list-style-type: none;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 120%;
    padding: 3% 1% 1%;
    color: #26014d;
}

.social-links i:hover {
    color: #0E7584;
}

/* media queries */

/* screen size 1100px wide and below */